:root{
    --card-height: calc(1.4em + 1vw);
    --card-width: calc(0.7em + 1vw);
}

*{
    padding: 0;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
}

button{
    margin: 0 auto;
    background-color: transparent;
    padding: 0.5em;
    border: none;
    
    color: white;
    font-size: clamp(1rem, 1.7vw, 3.5rem);

    transition: all 300ms;

    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

[draggable='true']{
    transition: all 300ms;

    cursor: pointer;
}
[draggable='true']:hover{
    border: 1px solid yellow;
}

body{
    background-color: rgb(2, 85, 2);
}

footer{
    margin-top: 25%;
}

.up-place{
    display: flex;
}

.up__card{
    padding: var(--card-height) var(--card-width);
}

.get-cards{
    background-image: url(../images/card-back.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: auto;
    border: 1px solid black;

    transition: all 300ms;

    cursor: pointer;
}
[data-get-cards='false']{
    visibility: hidden !important;
}


.get-cards:hover{
    border: 1px solid cyan;
}

.card--stack{
    border: 1px solid white;
    margin-right: 0.2em;
}

.game-place{
    display: flex;
    justify-content: center;
    
    margin-top: 2.5em;
}

.column-cards{
    display: flex;
    flex-direction: column;

    position: relative;

    margin: 0.05em;
}

.card-game{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: var(--card-height) var(--card-width);
    border: 1px solid black;
    margin-top: -2em;
}

.card-game--empty-hide{
    display: none;
}

.slots-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    
    width: min(80%, 35rem);
    padding: 1em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.slot{
    margin-top: 1em;
    padding: 1em;
    width: 50%;

    color: white;
    text-align: center;
    font-family: sans-serif;

    cursor: pointer;
}
.slot:hover{
    background-color: rgba(0, 0, 0, 0.7);
}


.close-button{
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.1em;
}

.close-img{
    width: 30%;
}

[data-slots-closed='true']{
    display: none;
}


header{
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.5em;
    width: 100%;
    padding: 0.5em;
}

.header-btns{
    display: flex;
    justify-content: center;

    margin: 0 auto;
}

.no-save-msg{
    display: none;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    padding: 1em;

    color: white;
    text-align: center;
    font-family: sans-serif;
}

[data-no-save-msg-show = 'true']{
    display: block;
}


@media screen and (min-width:450px){
    :root{
        --card-height: calc(2em + 1vw);
        --card-width: calc(1em + 1vw);
    }
}

@media screen and (min-width: 37.5em){
    :root{
        --card-height: calc(2.6em + 1vw);
        --card-width: calc(1.3em + 1vw);
    }

    .game-place{
        margin-top: 4.5em;
    }

    .column-cards{
        margin: 0.1em;
    }

    .card-game{
        margin-top: -4em;
    }
}

@media screen and (min-width: 62.5em){
    :root{
        --card-height: calc(2.6em + 1vw);
        --card-width: calc(2.3em + 1vw);
    }

    .up-place{
       padding: 1em; 
    }

    .card--stack{
        margin-right: 1em;
    }

    .game-place{
        margin-top: 7.5em;
    }

    .column-cards{
        margin-right: calc(0.1em + 0.1vw);
    }

    .card-game{
        margin-top: -4.5em;
    }
}

/*Data attributes for cards*/

/*---Clubs*/
[data-card-value='1 clubs']{
    background-image: url(../images/clubs/ace-clubs.png);
}

[data-card-value='2 clubs']{
    background-image: url(../images/clubs/2-clubs.png);
}

[data-card-value='3 clubs']{
    background-image: url(../images/clubs/3-clubs.png);
}

[data-card-value='4 clubs']{
    background-image: url(../images/clubs/4-clubs.png);
}

[data-card-value='5 clubs']{
    background-image: url(../images/clubs/5-clubs.png);
}

[data-card-value='6 clubs']{
    background-image: url(../images/clubs/6-clubs.png);
}

[data-card-value='7 clubs']{
    background-image: url(../images/clubs/7-clubs.png);
}

[data-card-value='8 clubs']{
    background-image: url(../images/clubs/8-clubs.png);
}

[data-card-value='9 clubs']{
    background-image: url(../images/clubs/9-clubs.png);
}

[data-card-value='10 clubs']{
    background-image: url(../images/clubs/10-clubs.png);
}

[data-card-value='11 clubs']{
    background-image: url(../images/clubs/jack-clubs.png);
}

[data-card-value='12 clubs']{
    background-image: url(../images/clubs/queen-clubs.png);
}

[data-card-value='13 clubs']{
    background-image: url(../images/clubs/king-clubs.png);
}
/*---Clubs END*/

/*---Diamonds*/
[data-card-value='1 diamonds']{
    background-image: url(../images/diamonds/ace-diamonds.png);
}

[data-card-value='2 diamonds']{
    background-image: url(../images/diamonds/2-diamonds.png);
}

[data-card-value='3 diamonds']{
    background-image: url(../images/diamonds/3-diamonds.png);
}

[data-card-value='4 diamonds']{
    background-image: url(../images/diamonds/4-diamonds.png);
}

[data-card-value='5 diamonds']{
    background-image: url(../images/diamonds/5-diamonds.png);
}

[data-card-value='6 diamonds']{
    background-image: url(../images/diamonds/6-diamonds.png);
}

[data-card-value='7 diamonds']{
    background-image: url(../images/diamonds/7-diamonds.png);
}

[data-card-value='8 diamonds']{
    background-image: url(../images/diamonds/8-diamonds.png);
}

[data-card-value='9 diamonds']{
    background-image: url(../images/diamonds/9-diamonds.png);
}

[data-card-value='10 diamonds']{
    background-image: url(../images/diamonds/10-diamonds.png);
}

[data-card-value='11 diamonds']{
    background-image: url(../images/diamonds/jack-diamonds.png);
}

[data-card-value='12 diamonds']{
    background-image: url(../images/diamonds/queen-diamonds.png);
}

[data-card-value='13 diamonds']{
    background-image: url(../images/diamonds/king-diamonds.png);
}
/*---Diamonds END*/

/*---Hearts*/
[data-card-value='1 hearts']{
    background-image: url(../images/hearts/ace-hearts.png);
}

[data-card-value='2 hearts']{
    background-image: url(../images/hearts/2-hearts.png);
}

[data-card-value='3 hearts']{
    background-image: url(../images/hearts/3-hearts.png);
}

[data-card-value='4 hearts']{
    background-image: url(../images/hearts/4-hearts.png);
}

[data-card-value='5 hearts']{
    background-image: url(../images/hearts/5-hearts.png);
}

[data-card-value='6 hearts']{
    background-image: url(../images/hearts/6-hearts.png);
}

[data-card-value='7 hearts']{
    background-image: url(../images/hearts/7-hearts.png);
}

[data-card-value='8 hearts']{
    background-image: url(../images/hearts/8-hearts.png);
}

[data-card-value='9 hearts']{
    background-image: url(../images/hearts/9-hearts.png);
}

[data-card-value='10 hearts']{
    background-image: url(../images/hearts/10-hearts.png);
}

[data-card-value='11 hearts']{
    background-image: url(../images/hearts/jack-hearts.png);
}

[data-card-value='12 hearts']{
    background-image: url(../images/hearts/queen-hearts.png);
}

[data-card-value='13 hearts']{
    background-image: url(../images/hearts/king-hearts.png);
}
/*---Hearts END*/

/*---Spades*/
[data-card-value='1 spades']{
    background-image: url(../images/spades/ace-spades.png);
}

[data-card-value='2 spades']{
    background-image: url(../images/spades/2-spades.png);
}

[data-card-value='3 spades']{
    background-image: url(../images/spades/3-spades.png);
}

[data-card-value='4 spades']{
    background-image: url(../images/spades/4-spades.png);
}

[data-card-value='5 spades']{
    background-image: url(../images/spades/5-spades.png);
}

[data-card-value='6 spades']{
    background-image: url(../images/spades/6-spades.png);
}

[data-card-value='7 spades']{
    background-image: url(../images/spades/7-spades.png);
}

[data-card-value='8 spades']{
    background-image: url(../images/spades/8-spades.png);
}

[data-card-value='9 spades']{
    background-image: url(../images/spades/9-spades.png);
}

[data-card-value='10 spades']{
    background-image: url(../images/spades/10-spades.png);
}

[data-card-value='11 spades']{
    background-image: url(../images/spades/jack-spades.png);
}

[data-card-value='12 spades']{
    background-image: url(../images/spades/queen-spades.png);
}

[data-card-value='13 spades']{
    background-image: url(../images/spades/king-spades.png);
}
/*---Spades END*/

[data-card-win]{
    background-image: url(../images/clubs/king-clubs.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

[data-card-back]{
    background-image: url(../images/card-back.png);
}

/*Data attributes for cards END*/